@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Handlee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

.arabicFont {
	font-family: 'Traditional Arabic', Scheherazade, 'Times New Roman', sans-serif;
}

.handFont {
	font-family: 'Handlee', cursive;
	font-weight: 400;
	font-style: normal;
}
